<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alredapp.kfunderburg</string>
	<key>category</key>
	<string>Search</string>
	<key>connections</key>
	<dict>
		<key>0288F758-00A4-4133-B9F5-0747B526A1D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68C60DE9-0C3C-4DE9-BE5B-27474F19ECC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23ED9A00-9424-4DB8-B7D9-88DDB8AD63E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6BCC239-85FD-45AF-8988-7ED948009DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC855184-B807-48EF-8ADB-91286F2388DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68C60DE9-0C3C-4DE9-BE5B-27474F19ECC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23ED9A00-9424-4DB8-B7D9-88DDB8AD63E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A09E7069-AEA3-4662-9258-09274B4FAEE0</key>
		<array/>
		<key>B84A6D15-A95F-46E7-8C6B-3B5F236FDBD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7205ACB-1943-4A2F-BD23-C882EC99F219</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6BCC239-85FD-45AF-8988-7ED948009DC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA0C66BD-E28A-48D5-A88E-E167D6C448DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA0C66BD-E28A-48D5-A88E-E167D6C448DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C992E79D-A9BE-4BEF-B017-4322396FB3C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7205ACB-1943-4A2F-BD23-C882EC99F219</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68C60DE9-0C3C-4DE9-BE5B-27474F19ECC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC855184-B807-48EF-8ADB-91286F2388DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09E7069-AEA3-4662-9258-09274B4FAEE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>Filter the gestures for BTT</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Get BetterTouchTool Gestures</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>use kevinsLib : script "Kevin's Library"

on run argv
	set q to item 1 of argv

	set q to kevinsLib's split(q, ", ")

	tell application "BetterTouchTool" to activate	tell application "System Events"		tell process "BetterTouchTool"			set theGroup to first row of table 1 of scroll area 2 of window 1 whose value of static text 1 is item 1 of q			set value of attribute "AXSelected" of theGroup to true					set theGesture to first row of outline 1 of scroll area 1 of group 1 of window 1 whose value of text field 1 is item 2 of q			set value of attribute "AXSelected" of theGesture to true		end tell	end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C992E79D-A9BE-4BEF-B017-4322396FB3C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B84A6D15-A95F-46E7-8C6B-3B5F236FDBD3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

  tell application "System Events"
		set frontApp to name of first process whose frontmost is true as string
  end tell
  
  return frontApp

end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F7205ACB-1943-4A2F-BD23-C882EC99F219</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theApp}, {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CA0C66BD-E28A-48D5-A88E-E167D6C448DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>update presets</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C6BCC239-85FD-45AF-8988-7ED948009DC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>.btg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>gathering apps that use gestures...</string>
				<key>script</key>
				<string>python btt.py "Get Gestures"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/Users/kevinfunderburg/Dropbox/Application Preferences/Alfred/Alfred.alfredpreferences/workflows/user.workflow.711098C0-109E-4446-BFD9-4B9F410994A7/script test.scpt</string>
				<key>subtext</key>
				<string>View gestures for '{query}'</string>
				<key>title</key>
				<string>View BTT Gestures</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>23ED9A00-9424-4DB8-B7D9-88DDB8AD63E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>theApp</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>68C60DE9-0C3C-4DE9-BE5B-27474F19ECC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript updatePresets.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A09E7069-AEA3-4662-9258-09274B4FAEE0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>.btt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>gathering apps that use gestures...</string>
				<key>script</key>
				<string>python btt.py "Get Apps"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/Users/kevinfunderburg/Dropbox/Application Preferences/Alfred/Alfred.alfredpreferences/workflows/user.workflow.711098C0-109E-4446-BFD9-4B9F410994A7/script test.scpt</string>
				<key>subtext</key>
				<string>View gestures for '{query}'</string>
				<key>title</key>
				<string>View BTT Gestures</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0288F758-00A4-4133-B9F5-0747B526A1D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>update presets</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>FC855184-B807-48EF-8ADB-91286F2388DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0288F758-00A4-4133-B9F5-0747B526A1D1</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>23ED9A00-9424-4DB8-B7D9-88DDB8AD63E0</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>68C60DE9-0C3C-4DE9-BE5B-27474F19ECC2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A09E7069-AEA3-4662-9258-09274B4FAEE0</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>update BTT presets</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B84A6D15-A95F-46E7-8C6B-3B5F236FDBD3</key>
		<dict>
			<key>note</key>
			<string>Use the shortcut key to see the gestures for the frontmost app.</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C6BCC239-85FD-45AF-8988-7ED948009DC9</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C992E79D-A9BE-4BEF-B017-4322396FB3C6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Show gesture in BTT</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>CA0C66BD-E28A-48D5-A88E-E167D6C448DF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F7205ACB-1943-4A2F-BD23-C882EC99F219</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FC855184-B807-48EF-8ADB-91286F2388DF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
